@media screen and (max-width: 1630px) {
    .main_banner img{
        right: 10%;
    }
}
@media screen and (max-width: 1385px) {
    .main_banner img{
        right: 8%;
    }
}
@media screen and (max-width: 1321px) {
    .main_banner img{
        right: 6%;
    }
}
@media screen and (max-width: 1262px) {
    .main_banner img{
        right: 4%;
    }
}
@media screen and (max-width: 1205px) {
    .main_banner img{
        right: 2%;
    }
}
@media screen and (max-width: 1156px) {
    .main_banner img {
        right: 0;
    }
    .owl-nav .owl-prev{
        left: -25px;
    }
    .owl-nav .owl-next{
        right: -25px;
    }
}
@media screen and (max-width: 1120px) {
    .owl-nav .owl-prev{
        left: -15px;
    }
    .owl-nav .owl-next{
        right: -15px;
    }
}
@media screen and (max-width: 1109px) {
    .owl-nav .owl-prev{
        left: -5px;
    }
    .owl-nav .owl-next{
        right: -5px;
    }
    .list_icon .list_icon_medium{
        justify-content: space-around;
    }
    .list_icon .list_icon_small{
        justify-content: space-around;
    }
    .box_list .title_link{
        margin-left: 40px;
    }
    .main_banner h1{
        font-size: 56px;
    }
}
@media screen and (max-width: 1089px) {
    .container {
        padding: 0 20px;
    }
    .owl-nav .owl-prev {
        position: absolute;
        left: 40px;
        top: -12%;
    }
    .owl-nav .owl-next {
        position: absolute;
        right: 40px;
        top: -12%;
    }
}
@media screen and (max-width: 1074px) {
    .main_banner h1{
        font-size: 52px;
    }
    .main_banner p{
        font-size: 20px;
    }
}
@media screen and (max-width: 1042px) {
    .main_banner h1{
        font-size: 50px;
    }
    .main_banner p{
        font-size: 18px;
    }
    .People p{
        font-size: 30px;
    }
    .Culture p{
        font-size: 30px;
    }
    .Power p{
        font-size: 30px;
    }
}
@media screen and (max-width: 1025px) {
    .main_banner h1{
        font-size: 47px;
    }
    .box_list .title_link{
        margin-left: 70px;
    }
    .box_list .item{
        margin-right: 50px;
    }
}
@media screen and (max-width: 1001px) {
    .main_banner h1{
        font-size: 44px;
    }
    .People p{
        font-size: 27px;
    }
    .Culture p{
        font-size: 27px;
    }
    .Power p{
        font-size: 27px;
    }
    .list_icon h6{
        font-size: 30px;
    }
    .list_icon .logo_icon h5{
        font-size: 27px;
    }
}
@media screen and (max-width: 976px) {
    .main_banner h1{
        font-size: 42px;
    }
}
@media screen and (max-width: 975px) {
    .main_banner img {
        left: 37%;
    }
    .main_banner h1{
        font-size: 40px;
    }
}
@media screen and (max-width: 974px) {
    .main_banner img{
        position: relative;
        width: 50%;
        left: 20px;
    }
}
@media screen and (max-width: 970px) {
    nav{
        display: none;
    }
    header .logo{
        position: relative;
        left: 0;
        margin-left: 0;
        top: 0;
    }
    .main_banner h1{
        font-size: 60px;
    }
    .main_banner p{
        font-size: 22px;
    }
}
@media screen and (max-width: 960px) {
    .box_list h4{
        margin-left: 90px;
    }
}
@media screen and (max-width: 940px) {
    .People p{
        font-size: 25px;
    }
    .Culture p{
        font-size: 25px;
    }
    .Power p{
        font-size: 25px;
    }
}
@media screen and (max-width: 930px) {
    .box_list .link_items{
        margin-left: 20px;
    }
    .box_list .item{
      margin-right: 10px;
    }
}
@media screen and (max-width: 900px) {
    .card .d-flex {
        flex-direction: column;
        align-items: center;
    }
    .card .logo_pic1{
        margin-top: 0;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 840px) {
    .main_banner h1{
        font-size: 55px;
    }
    .People .d-flex{
        flex-direction: column;
    }
    .People .description{
        margin-left: 66px;
        margin-top: 20px;
    }
    .Culture .d-flex{
        flex-direction: column;
    }
    .Culture .description2{
        margin-right: 95px;
        margin-bottom: 20px;
    }
    .Power .d-flex{
        flex-direction: column;
    }
    .Power .description3{
        margin-left: 97px;
        margin-top: 20px;
    }
}
@media screen and (max-width: 803px) {
    .box_list h4{
        margin-left: -370px;
    }
}
@media screen and (max-width: 790px) {
    .box_list h4{
        margin-left: -350px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 770px) {
    .box_list h4 {
        margin-left: -340px;
    }
}
@media screen and (max-width: 770px) {
    .box_list h4 {
        margin-left: -320px;
    }
}
@media screen and (max-width: 720px) {
    .box_list h4 {
        margin-left: -300px;
    }
}
@media screen and (max-width: 700px) {
    .box_list h4 {
        margin-left: -280px;
    }
}
@media screen and (max-width: 680px) {
    .box_list h4 {
        margin-left: -260px;
    }
}
@media screen and (max-width: 650px) {
    .box_list h4 {
        margin-left: -220px;
    }
}
@media screen and (max-width: 600px) {
    .box_list h4 {
        margin-left: -170px;
    }
    .main_banner h1{
        font-size: 45px;
    }
    .Culture .description2{
        margin-right: 75px;
    }
    .Power .description3{
        margin-left: 65px;
    }
}
@media screen and (max-width: 574px) {
    .box_list .title_link{
        margin-left: 10px;
    }
}
@media screen and (max-width: 550px) {
    .box_list .item .link_items{
        margin-left: 20px;
    }
    .box_list h4 {
        margin-right: 20px;
    }
}
@media screen and (max-width: 535px) {
    .box_list .link_items li{
        margin-right: 70px;
    }
    .box_list h4{
        margin-right: -30px;
    }
}
@media screen and (max-width: 515px) {
    .box_list .item {
        width: 300px;
    }
    .box_list h4{
        margin-right: 10px;
    }
    .list_icon_medium .logo_icon h5{
        font-size: 22px;
    }
    .list_icon_small .logo_icon h5{
        font-size: 22px;
    }
}
@media screen and (max-width: 480px) {
    .box_list .item {
        width: 290px;
    }
    .box_list h4{
        margin-right: 5px;
    }
    .list_icon_medium .logo_icon h5{
        font-size: 20px;
    }
    .list_icon_small .logo_icon h5{
        font-size: 20px;
    }
}
@media screen and (max-width: 428px) {
    .box_list .item {
        width: 270px;
    }
    .box_list .title_link{
        margin-left: -15px;
    }
    .box_list h4{
        margin-right: -25px;
        margin-bottom: 28px;
    }
    .box_list .icon{
        margin-top: -10px;
    }
    .People .description {
        margin-left: 5px;
    }
    .Culture .description2{
        margin-right: 15px;
    }
    .Power .description3{
        margin-left: 5px;
    }
    .main_banner h1{
        font-size: 40px;
    }
    .list_icon_medium .logo_icon:nth-child(2) {
        margin-left: 19px;
    }
}
